<!DOCTYPE html>
<html lang="hu"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Utalás</title>
</head>
<body>
<div layout:fragment="loginContent">
    <form name="login" th:action="@{/transferMoney}" method="post" class="form-signin" style="width: 50%; margin: auto; margin-top: 20px; text-align: center;">
        <h2 class="form-signin-heading">Utalás</h2>
        <label for="toUserEmail" class="sr-only">Kinek utalod az összeget?</label>
        <input type="text" id="toUserEmail" name="toUserEmail" class="form-control" placeholder="Email cím" required="true" style="width: 40%; margin: auto;"/>
        <label for="amount" class="sr-only">Utalni kívánt összeg</label>
        <input type="number" id="amount" name="amount" class="form-control" placeholder="Utalni kívánt összeg (Ft)" required="true" style="width: 40%; margin: auto;"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Utalás megerősítése</button>
    </form>
</div>
</body>
</html>